{% extends 'base.html' %}

{% load static %}

{% block ExtraCss %}
<style>
    #showcase{
        background: url("{% static 'images/admin-area.jpg' %}") no-repeat;
        background-size: 100%;
        background-position: center;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    #showcase .title{
        font-size: 5rem;
        font-weight: bolder;
        color: #fff;
        text-shadow: 0px 3px 5px black;
    }
    .pending-table{
        min-width: 300px;
    }
    .complain-details{
        position: absolute;
        top: 50%; left: 50%;
        height: 500px;
        width: 500px;
        border: 1px solid red;
        transform: translate(50% 50%);
    }
</style>
{% endblock ExtraCss %}


{% block content %}


    <section id="showcase" class="w-100 mb-5">
        <h1 class="title">Admin Area</h1>
    </section>

    <section class="mx-5">
        <div class="row">
          <div class="col">
            <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#issue-warning">Issue Warning</button>

            <div class="modal fade" id="issue-warning" tabindex="-1" aria-labelledby="issue-warning" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title text-dark" id="issue-warning-label">Issue Warning</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body text-dark">
                    <form action="{% url 'course:ManageWarningView' %}" method="POST" class="m-auto">
                      {% csrf_token %}
                      <input type="hidden" value="issue" name="action">
                      <label for="user-select" class="form-label">Choose a Student:</label>
                      <input class="form-control" list="users-list" id="user-select" name="warning_user" placeholder="Select or leave empty"/>
                      <datalist id="users-list">
                          {% for student in students %}
                              <option value="{{student.user.username}}">
                          {% endfor %}
                      </datalist>
                      <div class="text-center mt-3"><strong>or</strong></div>
                      <label for="instructor-select" class="form-label">Choose a Instructor:</label>
                      <input class="form-control" list="instructor-list" id="instructor-select" name="warning_instructor" placeholder="Select or leave empty"/>
                      <datalist id="instructor-list">
                          {% for instructor in instructors %}
                              <option value="{{instructor.user.username}}">
                          {% endfor %}
                      </datalist>
                      <br>
                      <div class="form-floating mb-5">
                          <textarea class="form-control" placeholder="Leave a comment here" id="warning-message" name="warning_message" style="height: 200px"></textarea>
                          <label for="warning-message">Explain Warning</label>
                      </div>

                      <div class="form-floating mb-5">
                          <textarea class="form-control" placeholder="Leave a comment here" id="warning-message" name="warning_reason" style="height: 200px"></textarea>
                          <label for="warning-message">Warning Reason</label>
                      </div>
          
                      <input type="submit" value="Submit" class="btn btn-primary">
                    </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                  </div>
              </div>
            </div>
                <h2 class="text-center">Active Warnings</h2>
                <table class="table table-striped table-dark pending-table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">For</th>
                        <th scope="col">View</th>
                        <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for warning in recieved_warnings %}
                        <tr>
                            <th scope="row">{{warning.id}}</th>
                            <td>{{warning.profile.user.username}}</td>
                            <td>
                                <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#warning-details-{{warning.id}}">View</button>

                                <div class="modal fade" id="warning-details-{{warning.id}}" tabindex="-1" aria-labelledby="warning-details-{{warning.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-dark" id="warning-details-{{warning.id}}-label">Warning #{{warning.id}}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            <p><strong>For Profile: </strong>{{warning.profile.user.username}}</p>
                                            <hr>
                                            <div>
                                                <h4>Reason:</h4>
                                                <p>{{warning.reason}}</p>
                                            </div>
                                            <hr>
                                            <div>
                                                <h4>Message:</h4>
                                                <p>{{warning.message}}</p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <form action="{% url 'course:ManageWarningView' %}" method="POST" class="mb-2">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{warning.id}}" name="warning_id">
                                    <input type="hidden" value="delete" name="action">
                                    <input type="submit" value="delete" class="btn btn-sm btn-outline-danger">
                                </form>
                                {% comment %} <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#complain-action-{{complain.id}}">Take Action</button>

                                <div class="modal fade" id="complain-action-{{complain.id}}" tabindex="-1" aria-labelledby="complain-action-{{complain.id}}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-dark" id="complain-action-{{complain.id}}-label">Take Action #{{complain.id}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                <form action="{% url 'accounts:ManageApplicationView' %}" method="POST" class="mb-2">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{complain.id}}" name="application_id">
                                                    <input type="hidden" value="approve" name="action">
                                                    <input type="submit" value="Approve" class="btn btn-sm btn-success">
                                                </form>
                                                
                                                <form action="{% url 'accounts:ManageApplicationView' %}" method="POST" class="mb-2">
                                                    {% csrf_token %}
                                                    <input type="hidden" value="{{complain.id}}" name="application_id">
                                                    <input type="hidden" value="approve" name="action">
                                                    <input type="submit" value="Approve" class="btn btn-sm btn-success">
                                                </form>
                                            </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-se condary" data-bs-dismiss="modal">Close</button>
                                                </div>
                                        </div>
                                    </div>
                                </div> {% endcomment %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>




{% endblock content %}

{% block ExtraJs %}
{% endblock ExtraJs %}
