{% extends 'base.html' %}

{% block ExtraCss %}
<style>
    form ul{
        list-style: none;
    }
</style>
{% endblock ExtraCss %}

{% block content %}

<section class="container mt-5">
    <div class="form-cont card text-center p-5">
        <form action="." method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% comment %} {{form.as_p}} {% endcomment %}
            {% for field in form %}
                <p>
                {{ field.label_tag }}<br>
                {{ field }}
                <br>
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: rgb(226, 45, 45)">{{ error }}</p>
                {% endfor %}
                </p>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
</section>

{% endblock content %}

{% block ExtraJs %}

{% endblock ExtraJs %}